/* mainform.css */
p {
    margin-top: 20px; /* 위쪽 여백 */
    margin-left: 40px; /* 왼쪽 여백 */
    color: black; /* 텍스트 색상 */
    font-weight: bold; /* 굵은 텍스트 */
  }
  
  
  .input {
    background-color: #E9E9E9;
    width: 275px;
    height: 45px;
    border-radius: 15px;
    padding: 0 10px;
    color: #000;
    font-size: 12px;
  }
  
  .text {
    
    background-color: #E9E9E9;
    width: 275px;
    height: 75px;
    border-radius: 15px;
    padding: 10px 10px;
    color: #000;
    font-size: 12px;
  }
  
  .submitButton{
    margin-left: 40px;
    background-color: #2AA3FB;
    width: 275px;
    height: 45px;
    border-radius: 10px;
  }

  .agree{
    /* background-color: #000; */
    /* border: 1px solid black; */
    margin: auto;
    height: 325px;
  }
  
  
  